@import "susy";
@import "compass/reset";

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: #fff;
    overflow-x: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000 url('https://i.imgur.com/YKY28eT.png') repeat;
    animation: move-stars 200s linear infinite;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(57, 59, 127);
    border-radius: 10px;
}

h1 {
    z-index: 2;
    font-size: 100px;
    position: absolute;
    top: 15vh;
    left: 22vw;
    color: rgb(57, 59, 127);
}

p {
    font-size: 20px;
}

form {
    z-index: 2;
    position: absolute;
    left: 35vw;
}

select,
input {
    padding: 0.7em 2em;
    border-radius: 10px;
    border: none;
    letter-spacing: 1px;
    background-color: rgb(57, 59, 127);
    color: #fff;
}

#fetchDataForm {
    top: 55vh;
}

#fetchDataType {
    top: 45vh;
}

#allDataContainer,
#Container {
    z-index: 2;
    display: block;
    position: relative;
    width: 60vw;
    top: 65vh;
    padding-bottom: 10px;
    left: 18vw;
    opacity: 50%;
}

button {
    z-index: 2;
    padding: 1.2em 2em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background-color: rgb(19, 15, 77);
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    box-shadow: 0px 15px 20px rgb(57, 59, 127);
    color: #fff;
}

.stars,
.twinkling {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
}

.stars {
    z-index: 0;
    background: #000 url('https://i.imgur.com/YKY28eT.png') repeat-y;
    animation: move-stars 200s linear infinite;
}

.twinkling {
    z-index: 1;
    background: transparent url('https://i.imgur.com/XYMF4ca.png') repeat;
    animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}